<div class="jumbotron">
  <h1>Hello, 锅巴！</h1>
  <p>sdlfjlkjdflkajsdlfkjas,adslfjadflkjasldfkjasldflkasjf lkjfdsa dkfjadlfk adkfj dkjfl dkjfaslj</p>
  <p><a class="btn btn-info btn-lg">Learn more</a></p>
</div>

  <%= link_to '我内个去', "#", class: "btn btn-primary btn-lg" %>