@import "twitter/bootstrap";
@import "twitter/bootstrap/glyphicons";
@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

body { padding-top: 70px; }


$btn-primary-color: #000000;
$btn-Info-bg: white;
$navbar-bg: black;
$navbar-height:300px;